
.vs/AI/v15/.suo
.vs/AI/v15/Server/sqlite3/db.lock
.vs/AI/v15/Server/sqlite3/storage.ide
.vs/AI/v15/Server/sqlite3/storage.ide-shm
.vs/AI/v15/Server/sqlite3/storage.ide-wal
AI/bin/Debug/netcoreapp2.0/AI.deps.json
AI/bin/Debug/netcoreapp2.0/AI.dll
AI/bin/Debug/netcoreapp2.0/AI.pdb
AI/bin/Debug/netcoreapp2.0/AI.runtimeconfig.dev.json
AI/bin/Debug/netcoreapp2.0/AI.runtimeconfig.json
AI/obj/AI.csproj.nuget.cache
AI/obj/AI.csproj.nuget.g.props
AI/obj/AI.csproj.nuget.g.targets
AI/obj/Debug/netcoreapp2.0/AI.AssemblyInfo.cs
AI/obj/Debug/netcoreapp2.0/AI.AssemblyInfoInputs.cache
AI/obj/Debug/netcoreapp2.0/AI.csproj.CoreCompileInputs.cache
AI/obj/Debug/netcoreapp2.0/AI.csproj.FileListAbsolute.txt
AI/obj/Debug/netcoreapp2.0/AI.csprojResolveAssemblyReference.cache
AI/obj/Debug/netcoreapp2.0/AI.dll
AI/obj/Debug/netcoreapp2.0/AI.pdb
AI/obj/project.assets.json
